<app-fullscreen-loading [isLoading]="isLoading()" />

<section
  class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 transition-all"
  [class.blur]="isLoading()"
>
  @for (character of characters(); track character.id) {

  <div class="card card-side bg-base-100 shadow-xl">
    <figure class="w-44 h-4w-44">
      <img
        class="object-contain w-32 h-32"
        [src]="character.image"
        [alt]="character.name"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{ character.name }}</h2>
      <p class="text-sm text-base-content">
        {{
          character.description.length > 100
            ? character.description.substring(0, 100) + "..."
            : character.description
        }}
      </p>
      <div class="card-actions justify-end">
        <a
          [routerLink]="['/dragonball/characters', character.id]"
          class="link link-secondary"
          href=""
          >Más</a
        >
      </div>
    </div>
  </div>

  }
</section>

<!-- Pagination -->
<section class="flex flex-row justify-end mt-5 gap-5">
  <button
    class="btn btn-secondary"
    [disabled]="page() === 1"
    (click)="nextPage(page() - 1)"
  >
    Anterior
  </button>

  <span class="text-base-content btn btn-ghost"> Página {{ page() }} </span>

  <button
    class="btn btn-secondary"
    [disabled]="characters().length < 10"
    (click)="nextPage(page() + 1)"
  >
    Siguiente
  </button>
</section>
