<app-fullscreen-loading [isLoading]="characterResource.isLoading()" />

@if( characterResource.hasValue() ) {
<app-character-info [character]="characterResource.value()!" />
}

<!--  -->
@if (characterResource.error()) {
<section class="flex flex-col w-full h-[500px] items-center justify-center">
  <h2 class="text-3xl text-error">Error</h2>
  <p class="text-xl font-thin">Hubo un error al cargar el personaje</p>

  <a [routerLink]="['/dragonball']" class="link-primary mt-10">Regresar</a>
</section>
}
